.new-loader-wrapper {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 110%;
}
.new-loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	border: 4px solid #0000;
	border-radius: 50%;
	border-color: $main_bg #0000;
	animation: l16 1s infinite linear;
}
.new-loader::before,
.new-loader::after {
	content: "";
	grid-area: 1/1;
	margin: 2px;
	border: inherit;
	border-radius: 50%;
}
.new-loader::before {
	border-color: $green_color #0000;
	animation: inherit;
	animation-duration: 0.5s;
	animation-direction: reverse;
}
.new-loader::after {
	margin: 8px;
}
@keyframes l16 {
	100% {
		transform: rotate(1turn);
	}
}
